<div class="block banner-block">
  <% if @invite.party.banner.attached? %>
    <%= image_tag @invite.party.banner, class: 'pure-img banner-img' %>
  <% end %>
</div>
<div class="block pure-g">
  <div class="pure-u-1-4 pure-u-md-1-6">
    <div class="month-block">
      <%=h @invite.party.start.strftime("%B")%>
    </div>
    <div class="day-of-month-block">
      <%=h @invite.party.start.strftime("%-d")%>
    </div>
  </div>
  <div class="pure-u-3-4 pure-u-md-5-6">
    <h1 class="invite-header"><%=h @invite.party.topic %></h1>
    <div>
      <a href="mailto:<%=@invite.party.creator_mail%>"><%=@invite.party.creator_name%></a>
      invited you to this event.
    </div>
  </div>
</div>
