<div class="block" id="comments">
  <h2>
    Comments
  </h2>
  <%= form_for([@party, @invite, Comment.new(invite: @invite)], html: {class: 'pure-form'}) do |f| %>
    <p>
      <%= f.text_area :text, rows: 1, class: 'pure-u-1' %>
      <%= f.submit 'Post' , class: 'pure-u-1'%>
    </p>
  <% end %>
</div>
<% @party.comments.order(created_at: :desc).each do | comment | %>
  <div class="block">
    <div class="comment-data">
      <div class="comment-author">
        <%= comment.invite.name %>
      </div>
      <div class="comment-timestamp">
        <%= time_ago_in_words comment.created_at %> ago
      </div>
    </div>
    <div class="comment-text">
      <%= markdown comment.text %>
    </div>
  </div>
<% end %>
