<div class="block pure-g">
  <div class="pure-u-1-12">
    <%= fa_icon 'clock-o' %>
  </div>
  <div class="pure-u-2-3">
    <%=h @invite.party.start.strftime('%H:%M') %>
  </div>
  <div class="pure-u-1-4">
    <a href="#comments">
      <%= fa_icon 'comments' %>
      Comments
    </a>
  </div>
  <div class="pure-u-1-12">
    <%= fa_icon 'map-marker' %>
  </div>
  <div class="pure-u-2-3">
    <%=h @invite.party.location %>
  </div>
  <div class="pure-u-1-4">
    <a href="#comments">
      <%= fa_icon 'image' %>
      Gallery
    </a>
  </div>
</div>
