<div class="block pure-g">
  <div class="pure-u-1-2">
    <%if @party.may_edit?(params[:key])%>
      <%= link_to 'Edit', edit_party_path(@party) %>
    <%end%>
  </div>
  <% if @party.may_invite?(params[:key]) %>
    <div class="pure-u-1-2">
      <a data-toggle="collapse" href="#invitation-form">
        Invite people
      </a>
    </div>
    <div id="invitation-form" class="collapse pure-u-1">
      <h2>Create Invitation</h2>
      <%= form_for([@party, Invite.new], html: {class: 'pure-form'}) do |f| %>
        <p>
          <%= f.label :name%><br />
          <%= f.text_field :name %>
        </p>

        <p>
          <%= f.label :email %><br />
          <%= f.email_field :email %>
        </p>
        <p>
          <%= f.label :custom_invitation %><br />
          <%= f.text_area :custom_invitation, :rows => 4%>
        </p>
        <p>
          <%= f.label :role %><br />
          <%= f.select(:role, options_for_select(['guest', 'admin'])) %>
        </p>
        <p>
          <%= f.submit 'Create' %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
