<div class="block" id="gallery">
    <h2>
      Gallery
    </h2>
  <%= form_for([@party, @invite, Picture.new(invite: @invite)], html: {class: 'pure-form', id: 'picture-form'}) do |f| %>
    <p>
      <%= f.file_field :picture %>
      <%= f.submit 'Post' %>
    </p>
  <% end %>
</div>
<% @party.pictures.order(created_at: :desc).each do | picture | %>
  <div class="block">
    <div class="comment-data">
      <div class="comment-author">
        <%= picture.invite.name %>
      </div>
      <div class="comment-timestamp">
        <%= time_ago_in_words picture.created_at %> ago
      </div>
    </div>
    <%= image_tag picture.picture, class: 'pure-img gallery-img' %>
  </div>
<% end %>
