<div class="block pure-g">
  <% if @invite.party.invites.yes.count > 0 %>
    <div class="pure-u-1-12">
      <%= fa_icon 'check-circle' %>
    </div>
    <div class="pure-u-5-12">
      <% @invite.party.invites.yes.each do |invite| %>
        <%=h  invite.name %>
        <br>
      <% end %>
    </div>
  <% end %>
  <% if @invite.party.invites.maybe.count > 0 %>
    <div class="pure-u-1-12">
      <%= fa_icon 'star' %>
    </div>
    <div class="pure-u-5-12">
      <% @invite.party.invites.maybe.each do |invite| %>
        <%=h  invite.name %>
        <br>
      <% end %>
    </div>
  <% end %>
</div>
