<div class="block">
  <h2>Shareable Text</h2>
  <%= markdown @invite.invitation_text %>

  Please be nice and tell
  <a href="mailto:<%=@invite.party.creator_mail%>"><%=@invite.party.creator_name%></a>
  if you're coming at
  <a href="<%=party_invite_url(@invite.party, @invite, :key => @invite.invite_key)%>"
  ><%=party_invite_url(@invite.party, @invite, :key => @invite.invite_key)%></a>.

  Don't miss the fun & party hard!
</div>
