<div class="block pure-g">
  <div class="pure-u-1-4 pure-u-md-1-6 status-block">
    <% if @invite.status == 'yes' %>
      <%= fa_icon 'check-circle' %>
    <% end %>
    <% if @invite.status == 'maybe' %>
      <%= fa_icon 'star' %>
    <% end %>
    <% if @invite.status == 'no' %>
      <%= fa_icon 'times-circle' %>
    <% end %>
    <% if @invite.status == 'no_answer' %>
      <%= fa_icon 'question-circle' %>
    <% end %>
  </div>
  <div class="pure-u-3-4 pure-u-md-5-6 status-change-block">
    <% if @invite.status != 'yes' %>
      <%= form_for([@invite.party, @invite]) do |f|%>
        <%=  f.hidden_field :status, :value => "yes" %>
        <button type="submit">
          <%= fa_icon 'check-circle' %> <%= "Yes!"%>
        </button>
      <%  end %>
    <% end %>
    <% if @invite.status != 'maybe' %>
      <%= form_for([@invite.party, @invite]) do |f|%>
        <%=  f.hidden_field :status, :value => 'maybe' %>
        <button type="submit">
          <%= fa_icon 'star' %> <%= "Maybe"%>
        </button>
      <%  end %>
    <% end %>
    <% if @invite.status != 'no' %>
      <%= form_for([@invite.party, @invite]) do |f|%>
        <%=  f.hidden_field :status, :value => 'no' %>
        <button type="submit">
          <%= fa_icon 'times-circle' %> <%= "No"%>
        </button>
      <% end %>
    <% end %>
  </div>
</div>
