<% title "Invitation for #{@invite.name} to #{@invite.party.topic}" %>



<div class="block">
  <%= markdown @invite.invitation_text %>
</div>

<%= render 'banner' %>

<% if @invite.is_invite_key?(params[:key]) %>
  <%= render 'status_forms' %>
<% end %>

<%= render 'details' %>

<%= render 'partygoers' %>

<div class="block">
  <%=h markdown @invite.party.description %>
</div>

<% unless @invite.is_invite_key?(params[:key]) %>
  <%= render 'shareable' %>
<% end %>


<% if @invite.is_invite_key?(params[:key]) %>
  <%= render 'edit_and_invite' %>
  <%= render 'comments' %>
  <%= render 'gallery' %>
<% end %>
