
<%= form_for(@party, html: {class: 'pure-form'}) do |f| %>
  <% if @party.errors.any? %>
    <div id="error_explanation" class="block">
      <h2><%= pluralize(@party.errors.count, "error") %> prohibited this parties_invite from being saved:</h2>

      <ul>
      <% @party.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="block">
    <p>
      <%= f.label :creator_name, "Your name"%><br />
      <%= f.text_field :creator_name %>
    </p>

    <p>
      <%= f.label :creator_mail, "Your e-mail address"%><br />
      <%= f.text_field :creator_mail %>
    </p>

    <p>
      <%= f.label :location %><br />
      <%= f.text_field :location %>
    </p>
    <p>
      <%= f.label :start %><br />
      <%= f.datetime_select :start %>
    </p>
    <p>
      <%= f.label :topic %><br />
      <%= f.text_field :topic %>
    </p>
    <p>
      <%= f.label :banner, "Party Banner"%><br />
      <%= f.file_field :banner %>
    </p>
    <p>
      <%= f.label :description %><br />
      <%= f.text_area :description, :rows => 20, :class => 'pure-u-1' %>
    </p>
    <p>
      <%= f.label :default_invitation %><br />
      <%= f.text_area :default_invitation, :rows => 10, :class => 'pure-u-1' %>
    </p>
    <p>
      <%= f.submit 'Save' %>
    </p>
  </div>
<% end %>
