<h2>Hello <%=@party.creator_mail %>!</h2>

<p>Thank you for using itsmyparty!</p>

<p>
Your party <%=@party.topic %> was created and you can start inviting 
people <%=link_to "here", party_path(@party, :key => @party.invites.select { |invite| invite.email == @party.creator_mail }[0].invite_key)%>
</p>

<p>
If you want to throw a real big party and invite more than 15 people without
being hassled by Captchas, please create an account with itsmyparty (We have 
to do this to avoid being used by those pesky spammers)
</p>

<p>
Have fun & party hard!
</p>