<div class="block">
  <p>
    Your party <%=@party.topic %> was created.
  </p>
  <p>
    An email was sent to <%= @party.creator_mail %>. Click on the link in the mail to start inviting people!
  </p>
  <p>
    <%= link_to 'Back', root_path %>
  </p>
</div>
