<div class="block">
  <h1>It's my party!</h1>
</div>
<div class="block">
  <%= link_to 'Create your party!', new_party_path, class: 'call-to-action' %>
</div>
<div class="block">
  <h2>What is it?</h2>
  <p>
    <strong>It's my party</strong> is a place where you can invite your friends
    to parties and where they can easily RSVP. People you invite can also write
    comments.<br>
    Think of it as a replacement for Facebook events.
  </p>
</div>
<div class="block">
  <h2>How does it look?</h2>
  <p>
    I modeled the look after the thing it should replace to present people with
    a familiar user experience.
  </p>
  <p>
    <img class="screenshot" src="/img/itsmyparty-screenshot.png">
  </p>
</div>
<div class="block">
  <h2>How do I invite my friends?</h2>
  <p>
    If you add an email address when creating an invitation an email is sent to
    that person containing a link to the party.<br>
    If not, you are presented with a text you can
  </p>
</div>
<div class="block">
  <h2>Why did you build it?</h2>
  <p>
    I built <strong>It's my party</strong> because more and more people I want
    to invite to parties move off Facebook and because I'm working on replacing
    Facebook for me personally.
  </p>

</div>
