<div class="block banner-block">
  <% if @party.banner.attached? %>
    <%= image_tag @party.banner, class: 'pure-img banner-img' %>
  <% end %>
</div>
<div class="block pure-g">
  <div class="pure-u-1-4 pure-u-md-1-6">
    <div class="month-block">
      <%=h @party.start.strftime("%B")%>
    </div>
    <div class="day-of-month-block">
      <%=h @party.start.strftime("%-d")%>
    </div>
  </div>
</div>
<div class="block pure-g">
  <div class="pure-u-1-12">
    <%= fa_icon 'clock-o' %>
  </div>
  <div class="pure-u-11-12">
    <%=h @party.start.strftime('%H:%M') %>
  </div>
  <div class="pure-u-1-12">
    <%= fa_icon 'map-marker' %>
  </div>
  <div class="pure-u-11-12">
    <%=h @party.location %>
  </div>
</div>

<div class="block">
  <%=h markdown @party.description %>
</div>

<div class="block pure-g">

  <div id="invitation-form" class="pure-u-1">
    <h2>RSVP</h2>
    <%= form_for([@party, Invite.new], url: rsvp_party_path(@party), html: {class: 'pure-form'}) do |f| %>
      <%= f.hidden_field :role, value: 'guest' %>
      <%= f.hidden_field :status, value: 'yes' %>
      <p>
        <%= f.label :name%><br />
        <%= f.text_field :name %>
      </p>

      <p>
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </p>
      <p>
        <%= f.submit 'RSVP' %>
      </p>
    <% end %>
  </div>
</div>