Hello <%=@party.creator_name %>!

Your party <%=@party.topic %> was created and you can start inviting
people at <%=party_url(@party, :key => @party.invites.select { |invite| invite.email == @party.creator_mail }[0].invite_key)%>

Have fun & party hard!
