<%= @invite.invitation_text %>

Please be nice and tell
<a href="mailto:<%=@invite.party.creator_mail%>"><%=@invite.party.creator_name%></a>
if you're coming at <%=party_invite_url(@invite.party, @invite, :key => @invite.invite_key)%>

Don't miss the fun & party hard!
