body {
  background-color: #fafafa;
}

a {
  color: #0f0f0f;
  text-decoration: underline;
  text-decoration-style: dashed;
}

textarea {
  resize: vertical;
}

.collapse:not(.show) {
    display: none;
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
}

.block {
  padding: 1em;
  margin-bottom: 1em;
  background-color: white;
}

.banner-block {
  padding: 0;
  max-height: 35em;
  overflow: hidden;
}

.month-block {
  text-align: center;
  width: 100%;
}

.day-of-month-block {
  text-align: center;
  width: 100%;
  font-size: 2.5em;
}

.status-block {
  text-align: center;
  font-size: 2.5em;
}

.status-change-block form {
  display: inline-block;
}

.status-change-block button[type=submit] {
  background: white;
  border: 1px solid #AAAAAA;
  border-radius: 0.25em;
  height: 2.5em;
}


h1.invite-header {
  margin-top: 0;
  margin-bottom: 0.25em;
  font-size: 1.5em;
  font-weight: normal;
}

h2 {
  font-size: 1.3em;
  font-weight: normal;
}

.comment-author {
  font-weight: bold;
}

.comment-timestamp {
  font-size: 0.7em;
  color: #999999;
}

.call-to-action {
  text-decoration: none;
  font-weight: bold;
  background: white;
  border: 2px solid #AAAAAA;
  border-radius: 0.25em;
  height: 2.5em;
  padding: 1em;
}

.screenshot {
  width: 50%;
}
