<!DOCTYPE html>
<html>
<head>
  <title>It's My Party <%= if content_for?(:title) then ' - ' + yield(:title) end %></title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class='content'>
    <% if flash[:alert] %>
      <div class="block flash-error"><%= flash[:alert] %></div>
    <% end %>
    <% if flash[:notice] %>
      <div class="block flash-notice"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>

    <div class="block pure-g">
      <div class="pure-u-1-4">
        <h4>About</h4>
        <p>
          <%= fa_icon 'envelope' %>
          <a href="mailto:itsmyparty@doublemalt.net">
            Contact email
          </a>
        </p>
      </div>
      <div class="pure-u-1-4">
        <h4>Help</h4>
        <p>
          <%= fa_icon 'info' %>
          <a href="https://gitlab.com/DoubleMalt/itsmyparty/blob/master/README.md">
            Readme
          </a>
        </p>
      </div>
      <div class="pure-u-1-4">
        <h4>Code</h4>
        <p>
          <%= fa_icon 'gitlab' %>
          <a href="https://gitlab.com/DoubleMalt/itsmyparty">
            Gitlab
          </a>
        </p>
      </div>
      <div class="pure-u-1-4">
        <h4>Support us!</h4>
        <p>
          <%= fa_icon 'credit-card-alt' %>
          Coming soon ...
        </p>
      </div>
    </div>
  </div>

</body>
</html>
